@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
:root {
	--accent: #4f46e5;
	--link: #d62bd6;
	--primary: #3d3c62;
	--code-bg: hsl(276, 10%, 92%);
	--bg-100: hsl(276, 10%, 90%);
	--gray-100: hsl(222, 13%, 85%);
	--gray-200: hsl(231, 14%, 90%);
	--gray-500: hsl(231, 14%, 60%);
	--text: hsl(231, 14%, 20%);
	--border: hsl(231, 14%, 85%);
	--font: "Source Serif 4", serif;
	--font-sans-serif: "Nunito", sans-serif;
	--font-mono: "Fira Code", monospace;
}
html {
	margin: 0;
	padding: 0;
	color-scheme: light dark;
	&[data-theme="dark"] {
		--link: #d62bd6;
		--accent: #908af6;

		--bg-100: hsl(231, 12%, 11%);
		--primary: #a5a4c2;
		--code-bg: hsl(240, 2%, 10%);

		--gray-100: hsl(231, 14%, 20%);
		--gray-200: hsl(231, 14%, 25%);
		--gray-500: hsl(231, 14%, 50%);
		--text: hsl(231, 14%, 80%);
		--border: hsl(231, 14%, 25%);
	}
}
* {
	box-sizing: border-box;
	::selection {
		background-color: color-mix(in srgb, var(--accent), 50% transparent);
		color: white;
	}
}
body {
	color-scheme: light;
	font-family: var(--font);
	font-weight: 400;
	font-style: normal;
	color: var(--text);
	background-color: var(--bg-100);
	font-optical-sizing: auto;
}
a {
	color: var(--link);
	font-style: italic;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

main {
	h1 {
		color: var(--primary);
	}
	section {
		width: 100%;
		margin-block: 1rem;
		h3 {
			scroll-margin-top: 2rem;
			color: var(--primary);
			font-size: 1.25rem;
			font-weight: 500;
			position: relative;
			&:before {
				transition: all 0.3s;
				content: "#";
				position: absolute;
				left: -1rem;
				opacity: 0;
				color: color-mix(in srgb, var(--text), 50% transparent);
			}
		}
		&:hover {
			h3:before {
				opacity: 1;
			}
		}
	}
}
