{
	"useTabs": true,
	"singleQuote": false,
	"printWidth": 100,
	"tabWidth": 4,
	"plugins": [
		"prettier-plugin-svelte"
	],
	"pluginSearchDirs": [
		"."
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte",
				"printWidth": 100,
				"tabWidth": 3
			}
		}
	],
	"bracketSameLine": true,
	"svelteIndentScriptAndStyle": false,
	"svelteAllowShorthand": true,
	"svelteStrictMode": false
}